body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.parent{
    height: 140%;
    width: 60%;
    background-color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 8px black;
}
.child1{
    width: fit-content;
    height: fit-content;
    background-color:white;
    
}
table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
}