body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.parent{
    width:500px;
    height: 500px;
    border:2px solid black;
    perspective: 50px;
    position: relative;
    /* top:10%;
    left:30%; */
}
.child1{
    width:250px;
    position: absolute;
    height:100px;
    top:15%;
    left:25%;
    perspective: bottom;
    background-color: rgb(42, 50, 165);
    /* transform-style: preserve-3d; */
    transform: rotateX(-90deg);
}
.child2{
    width:100px;
    position: absolute;
    top:25%;
    left:65%;
    height:250px;
    background-color: rgb(28, 187, 123);
    transform-style: preserve-3d;
    transform: rotateY(-90deg);
}
.child3{
    width:250px;
    position: absolute;
    left:25%;
    top:65%;
    height:100px;
    background-color: rgb(176, 23, 43);
    transform-style: preserve-3d;
    transform: rotateX(90deg);
}
.child4{
    width:100px;
    position: absolute;
    top:25%;
    left:15%;
    height:250px;
    background-color: rgb(190, 179, 48);
    transform-style: preserve-3d;
    transform: rotateY(90deg);
}
